* {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #543d3d;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #464545;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    max-width: 600px;
    width: 90%;
    padding: 40px;
    background-color: #787676;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.username-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.username-item {
    margin-bottom: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image round */
    cursor: pointer; /* Change cursor to pointer */
    margin-bottom: 10px;
}