h1 {
    margin-bottom: 0;
}

h2 {
    font-size: 3em;
}

.booking-container {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

section {
    padding-bottom: 2em;
}

.booking-item div {
    text-align: left;
    font-size: 1.5em;
}

p {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.8em;


}

div .respons{
    font-size: 1.2em;
}

.image-message {
    font-size: 0.8em;
    color: #333333;
    font-style: italic;
    margin-bottom: 0.5em; /* Adding some space below the message */
    margin-top: -1%;

}

hr {
    border-color: white;
    border-width: 2px;
    margin-top: 20px; /* Tilføjer mellemrum over hr-linjen */
    margin-bottom: 15px;
}

.client-name {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #D2D1D1;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contact-item {
    margin-bottom: 10px;
}

.underline{
    text-decoration: underline;
    margin-top: 2.5em;
}

.tattoo-info {
    font-size: 1.7em;
    font-weight: bold;
    text-align: left;
}

.project-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.process-picture {
    max-width: 100px;
    display: block;
    margin: 0 auto 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.button-container button {
    padding: 40px 70px; /* Gør knapperne større */
    font-size: 1em;
    margin: 20px; /* Mindsk afstanden mellem knapperne */
    width: 230px; /* Fast bredde for alle knapper */
    height: 100px; /* Fast højde for alle knapper */
    display: flex;
    align-items: center;
    justify-content: center;
}


.edit-btn {
    margin-right: 1rem;
}

.edit-delete-container form button {
    background-color: transparent;
    border:none;
}


.edit-delete-container {

    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: flex-end;
}

.edit-btn, .delete-form {
    margin-right: 1rem;
}

.edit {
    color: white;
}

.delete {
    color: white;
}


.edit-delete-container-edit {
    display: flex;
    justify-content: center;
}