
section {
    width: 55rem;
    height: 95rem;
    padding: 1em;
    margin: auto auto auto -4em;
}
h1 {
    display:grid;
    place-content: center;
    font-size: 5em;
    margin-bottom: -2%;
}

.calendar-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: normal;
    align-items: end;
    font-size: 5em;
    margin-bottom: 0.5em;
}
.previous {
    display: grid;
    place-content: flex-start;
    padding-left: 5%;
}
.next {
    display: grid;
    place-content: flex-end;
    padding-right: 5%;
}
.year {
    display: grid;
    place-content: center;
    font-size: 0.5em;
}

.calendar-information-bar {
    display: grid;
    grid-template-columns: 11% 1fr;
    grid-column-gap: 5px;
    background-color: var(--accent-red);
    font-size: 1.5em;
    border-radius: 0.5em;

}
.calendar-information-bar .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1em;
    margin-left: 0.5em;
}




    .calendar-grid {
        display: grid;
        grid-template-columns: 8% 1fr;
        justify-content: center;
        padding: 6% 1% 1%;
    }

    .weeknumbers {
        display: grid;
        grid-row-gap: 9em;
        padding-top: 3em;
    }



.weekdays li {
    padding-right: 7%;
}


    .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 6em;
        margin-left: 2.5em;
        grid-column-gap: 1.7em;



    }

    li {
        list-style: none;
    }


    .dates li {
        align-content: center;

    }
.dates li a {
    color: var(--white);
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 1em;


}

    .fully-booked-day {
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: var(--fully-booked-day);;
        /* border: solid black; */
        width: 3.5em;
        height: 5em;

    }
    .semi-booked-day{
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: var(--semi-booked-day);
        /* border: solid black; */
        width: 3.5em;
        height: 5em;

    }

    .open-day {
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: var(--light-gray);
        width: 3.5em;
        height: 5em;

    }

    .non-existing-date{
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: var(--background-color);
        opacity: 30%;
        width: 5.3em;
        height: 7.5em;
        border-radius: 1.6em;

    }




