.booking {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray);
    margin-bottom: 1.5rem;
}
a {
    text-decoration: underline;
}
a:visited {
    color: inherit;
}
ul {
    list-style: none;
}

section, .container {
    padding-top: 4rem;
    padding-bottom: 2rem;

}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    position: relative;
}

.container {
    text-align: left;
    width: 45vw;
    padding-top: 2rem;
}


.contact {
    padding-bottom : 1.5rem;
}


p, a {
    font-size: 1.5em;
}

h2 {
    font-size: 3rem;
}

button {
    margin-top: 3rem;
}

.button-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
}

.edit-btn, .delete-btn {
    margin-right: 1rem;
}

.button-container form button {
    background-color: transparent;
    color: var(--white);
    border:none;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.input-group {
    display: flex;
    padding-bottom: 1.5rem;
    gap: 2rem;
}

.input-group div{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .3rem;
}