.booking {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray);
    margin-bottom: 1.5rem;
}
a {
    text-decoration: underline;
}
a:visited {
    color: inherit;
}
ul {
    list-style: none;
}

section, .container {
    padding-top: 4rem;
    padding-bottom: 2rem; /* Juster denne værdi efter behov */

}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    position: relative;
}

.container {
    text-align: left;
    width: 45vw;
    padding-top: 2rem;
}

.edit-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.contact {
    padding-bottom : 1.5rem;
}


p, a {
    font-size: 1.5em;
}

h2 {
    font-size: 3rem;
}
