
a {
    text-decoration: none;
    color: inherit;
}

li {
    background-color: var(--above-section-elements-gray);
    color: var(--white);
    border-radius: 15px;
    margin: 10px 20px;
    padding: 10px 20px;
}

.letter-header {
    color: var(--white);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
}

.client-list {
    list-style-type: none;
    padding: 0;
}

.client-item {
    text-align: left;
    font-size: 2rem;
    padding-left: 20px;
}

/* Ensures that the link styling is consistent within client-item */
a.client-item {
    display: block;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--above-section-elements-gray);
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.process-picture {
    max-width: 100px;
    display: block;
    margin: 0 auto 15px;
}
