.booking {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray);
    margin-bottom: 1.5rem;
}
a {
    text-decoration: underline;
}
a:visited {
    color: inherit;
}
ul {
    list-style: none;
}

section, .container {
    padding-top: 4rem;
    padding-bottom: 2rem;

}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    position: relative;
}

.confirmation-container {
    position: absolute;
    z-index: 4;
    background: lightgrey;
    padding: 2em;
    border-radius: 1em;
    color: white;
    width: 40vw;
/*    top: 35vh;
    left: 30vw;*/
    color: #333333;
}

h4 {
    font-size: 2rem;
}


.container {
    text-align: left;
    width: 45vw;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.contact {
    padding-bottom : 1.5rem;
    gap: 1rem;
    display: flex;
}


p, section a {
    font-size: 1.5em;
}


h2 {
    font-size: 3rem;
    place-self: center;
    padding-bottom: 2rem;
}

button {
    margin-top: 3rem;
}

.button-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
}

.edit-btn, .delete-btn {
    margin-right: 1rem;
}

.button-container form button {
    background-color: transparent;
    border:none;
}

.edit, .delete {
    color: white;
}



.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.input-group {
    display: flex;
    padding-bottom: 1.5rem;
    gap: 2rem;
}

.input-group div{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .3rem;
    width: 100%;
}

/*
.red-button {
    width: 100%;
    padding:2rem 0;
}*/
