
h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 50px;
}

body {
    font-size: 1.2em;
    font-weight: bold;
}

/*.back-arrow-container {
    margin-bottom: 20px;
}

.back-arrow-container a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

 */

.process-picture {
    max-width: 100px;
    display: block;
    margin: 0 auto 15px;
}

.booking-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information-container {
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    font-size: 25px;
}

.form-group {
    margin-bottom: 15px;

}
.form-group-dep {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form-group-dep label {
    margin-right: 30px;
}

.form-group-dep input[type="checkbox"] {
    webkit-appearance: none; /* Remove default checkbox styling */
    -moz-appearance: none;
    appearance: none;
    flex: 0 0 auto;
    border-radius: 8px; /* Rounded corners */
    background-color: var(--input-field-gray); /* Background color */
    outline: none; /* Remove blue focus outline */
    cursor: pointer;
    transform: scale(1.5);
    margin-right: 30px;
    width: 30px; /* Custom width */
    height: 30px;

}

.form-group-dep input[type="checkbox"]:checked {
    background-color: #a22e2e; /* Background color when checked */}

.form-group-dep input[type="checkbox"]::after {
    content: '';
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px; /* Adjust size for check mark */
    font-weight: bold;
    color: white;
}

.form-group-dep input[type="checkbox"]:checked::after {
    display: block;
    content: '\2713';
}

.form-group-time {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.form-group-time-end {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form-group-time-end label {
    margin-right: 30px;
    flex: 0 0 auto;
}
.form-group-time label {
    margin-right: 20px;
    flex: 0 0 auto;
}

.form-group-time .time-select,
.form-group-time-end .time-select {
    flex: 1;
}

.form-group-time select,
.form-group-time-end select {
    width: 20%; /* bredden på drop-down-menuen.*/
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.8em;
    box-sizing: border-box;
}



.form-group-time input[type="time"],
.form-group-time-end input[type="time"] {
    font-size: 20px; /* Juster skriftstørrelsen efter behov */
    padding: 10px; /* Juster polstring for bedre udseende */
    border: 1px solid #ccc; /* Juster grænsefarven efter behov */
    border-radius: 10px; /* Runde hjørner */
    box-sizing: border-box; /* Sikrer korrekt boksmåling */
    width: 15%; /* Sikrer fuld bredde */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}

.form-group input[type="text"]{
    background-color: var(--input-field-gray);
    border-radius: 15px;
    height: 50px;
    width: 95%;
    padding: 1rem;
    border-style: none;

}

.form-group textarea{
    background-color: var(--input-field-gray);
    border-radius: 15px;
    height: 100px;
    width: 95%;
    padding: 1rem;
    border-style: none;

}

/* ændrer tekst i drop-down menuen. */
input[type="file"],
select, option,
textarea {
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
}

/* ændrer tekst i indputfelterne */
input[type="text"],
input[type="checkbox"],
select,
textarea {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

input[type="file"] {
    border: none;
    background: none;
    background-color: transparent;
    color: #e3e3e3; /* Tekst ved siden af "gennemse"-knappen*/
    outline: none;
    box-shadow: none;
    font-size: 20px;
    position: relative;
    left: -12px;
}

/* ændrer "gennemse" knappen*/
input[type="file"]::file-selector-button {
    border: none;
    color: #333333; /* textfarve */
    content: "Upload Images";
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background: #f0f0f0;
    margin-right: 10px; /* Tilføj mellemrum mellem knap og tekst */
}

input[type="file"]::after {
    content: "No uploaded Image"; /* Ændrer standardteksten */
    color: #333;
    margin-left: 10px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

button {
    padding: 40px 70px; /* Gør knapperne større */
    font-size: 1em;
    margin: 10px; /* Mindsk afstanden mellem knapperne */
    width: 230px; /* Fast bredde for alle knapper */
    height: 100px; /* Fast højde for alle knapper */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-message {
    font-size: 0.8em;
    color: #333333;
    font-style: italic;
    margin-bottom: 0.5em; /* Adding some space below the message */
}

.error-message p{
    color: black;
    text-align: center;
}


