section {
    padding-bottom: 3em;
    margin-top: 2em;
}

.upload-wrapper {
    padding-bottom: 3em;
}
.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    margin: 1em;
}

.upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: var(--input-field-gray);
    color: var(--section-background-color);
    text-align: center;
    line-height: 100px; /* Make the line height the same as the width/height for centering */
    font-size: 3em;
    position: relative;
}
.upload-label-with-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    text-align: center;
    line-height: 100px; /* Make the line height the same as the width/height for centering */
    font-size: 3em;
    cursor: pointer;
    position: relative;
    background-size: cover;
}
.upload-label-with-picture input[type="file"] {
    display: none;
}

.upload-label input[type="file"] {
    display: none;
}


.upload-label-with-picture .fa-plus {
    vertical-align: middle;
    font-size: 48px;
    color: black;
    opacity: 0.5;
    z-index: 2;
}

.form-group label {
    display: flex;
    margin-left: 0.5em;
    font-size: large;
    margin-bottom: -0.5em;
}

.form-group input {
    background-color: var(--input-field-gray);
    border-radius: 15px;
    height: 50px;
    width: 290px;
    padding: 1rem;
    border-style: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
.form-box {
    display: flex;
    flex-direction: column;

}
.form-box-label {
    display: flex;
    flex-direction: row;
    z-index: 4;
    position: relative;
    /* margin-right: 7em; */
    width: 24em;
    /* margin-bottom: 10em; */

}

.form-row-grid {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    margin-bottom: 30px;
    width: 48.5em;
    justify-content: space-between;
    padding: 0.5em;

}
.info-box {
    margin-left: 1em;

}

/* Tilpasser størrelsen på checkbox */
.checkboxes {
    -webkit-appearance: none; /* Fjerner browserens standard checkbox-styling */
    -moz-appearance: none;
    appearance: none;
    width: 4.5em; /* Juster bredden efter behov */
    height: 4.5em; /* Juster højden efter behov */
    border-radius: 8px; /* Runder hjørnerne */
    background-color: var(--input-field-gray); /* Gennemsigtig baggrund */
    outline: none; /* Fjerner den blå fokusramme */
    cursor: pointer; /* Viser en markør ved hover */
}

/* Tilføjer et tilpasset udseende for den indre checkmark */
.checkboxes:checked::after {
    content: '\2713'; /* Tilføjer en checkmark (unicode-tegn) */
    font-size: 80px; /* Juster størrelsen efter behov */
    color: white; /* Farve på checkmark */
    height: 100%; /* Fylder hele checkboxen */
    display: flex;
    align-items: center;
    padding-left: 10px;
}

input[type="checkbox"]:checked {
    background-color: #a22e2e; /* Background color when checked */}


/* Show the checkmark when the checkbox is checked */
input[type="checkbox"]:checked + .custom-checkbox:after {
    transform: translate(-50%, -50%) scale(1);
}


/* Show the message when the checkbox is checked */
.info-checkbox:checked + .info-label + .info-message {
    display: block;
}

/* Basic styling for form */
.form-group, .form-grid-cell {
    position: relative;
    margin-bottom: 1.5em;
}

.form-group label, .form-grid-cell label {
    margin-right: 0.5em;
}

/* Hide the checkbox */
.info-checkbox {
    display: none;
}

/* Style the label as a button */
.info-label {
    display: inline-block;
    background-color: var(--background-color);
    color: white;
    font-size: 0.7em;
    padding: 0.5em;
    width: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    /* margin-left: 0.5em; */
    vertical-align: middle;
}

/* Hidden message box */
.info-message {
    display: none;
    background-color: var(--accent-red);
    opacity: 0.9;
    padding: 1em;
    margin-top: -1.9em;
    border-radius: 0.5em;
    position: absolute;
    /* top: 100%; */
    left: 0;
    z-index: 10;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 9em;
}
.info-message-right {
    margin-left: 6em;
}


select {
    background: lightgray;
    border-radius: 1em;
    height: 4.5em;
    width: 4.5em;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background: radial-gradient(lightgray, darkgray);
    text-align: center;
/* margin-left: -0.5em; */
}
.form-group-button {
    width: 20em;

}
.red-button {
    font-size: 1.5em;
    height: 4em;
    width: 100%;
    margin-top: 2em;
    font-weight: bold;
}
.change-password {
    padding: 1em;
    text-decoration: none;
}
