.stat-wrapper {
    background-color: var(--button-gray);
    padding: 2rem;
    border-radius: 15px;
    margin-bottom: 3rem;
}

.red {
    color: var(--accent-red);
}

.last {
    margin-bottom: 0;
}

section {
    margin-bottom: 3rem;
}

.red-button {
    padding: 3rem;
    text-decoration: none;
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
}
.big {
    font-size: 4rem;
}