body {
    height: auto;
}

section {
    margin-bottom: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
}

.backdrop {
    display: flex;
    flex-direction: column;
}

.time-line-box {
    display: grid;
    grid-template-columns: 11% 1fr;
    grid-column-gap: 5px;
    font-size: 1.5em;
    border-radius: 0.5em;

}
.time-line-box .timeslots {
    margin-bottom: 0em;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0em;
    margin-left: 0.5em;
    position: relative;
    margin-top: -0.7em;
}


.time-line-box .bookingslots {
    display: grid;
    grid-template-rows: repeat(44, 1fr);
    margin-left: 1.5em;
    position: relative;
    margin-bottom: 0.9em;
    height: 44em;
}


.time-line-wrapper {
    /* padding: 0.7em; */
    position: relative;
    text-align-last: justify;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    margin-bottom: 1.3em;
}

.time-line {
    color: var(--white);
    padding-right: 10px;
    position: relative;
}

.time-line::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 900%;
    background-color: white;
    left: 3em;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: solid;
    border-width: thin;
}

.booking-container {
    /* width: 47em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0.2em;
}

.booking-block {
    left: 1.5em;
    position: absolute;
    /* top: 20%; */
    background-color: var(--booking-on-day);
    color: var(--white);
    /* padding: 0.7em 1em; */
    border-radius: 1em;
     margin-top: 0.1em;
    width: 18em;
    z-index: 2;
    display: flex;
    justify-content: center;
}


.day-navigation {
    display: grid;
    grid-template-columns: .3fr 1fr .3fr ;
    justify-items: normal;
    align-items: end;
    font-size: 5em;
    margin-bottom: 0.5em;
    /*   margin-left: -4%;*/
    /* align-self: center; */
    width: 100%;
}
.previous {
    display: grid;

}
.next {
    display: grid;

}
h1 {
    display: grid;
    place-content: center;
    font-size: 80%;
}

h2 {
    color: var(--white);
}
.booking-info-long {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    color: var(--white);
    flex-direction: column;
    padding: 1em;
}

.booking-info-short {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        color: var(--white);
        flex-direction: column;
        padding: 1em;
    font-size: 0.7em;
    align-self: center;
    margin-top: 1em;

}

.booking-info-short h2 {
    font-size: 1em;
}

p {
    color: var(--white);
}
.red-button {
    padding: 3rem;
    text-decoration: none;
    font-size: 2rem;
}
