
.backdrop {
    display: flex;
    flex-direction: column;
}

/* Style for time slots */
.time-line-wrapper {
    padding: 0.7em;
    position: relative;
    /* height: 20%; */
    text-align-last: justify;
    display: flex;
    flex-direction: column-reverse;
}

.time-line {
    position: relative;
    color: var(--white);
    display: inline-block;
    padding-right: 10px; /
}
.time-line::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 90%;
    left: 10%;
    border-top: 1px dashed white;
}

/* Style for booking blocks */
.booking-block {
    background-color: var(--booking-on-day);
    color: var(--white);
    padding: 0.7em 1em;
    position: absolute;
    left: 23%;
    width: 50%;
    z-index: 2;
    border-radius: 1em;
    margin-top: -1em;
}

.day-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: normal;
    align-items: end;
    font-size: 5em;
    margin-bottom: 0.5em;
}
.previous {
    display: grid;
    place-content: flex-start;
    padding-left: 5%;
}
.next {
    display: grid;
    place-content: flex-end;
    padding-right: 5%;
}
.h1 {
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
