/* Style for the calendar */
.backdrop {
    display: flex;
    flex-direction: column;
}

/* Style for time slots */
.time-slot {
    padding: 5px;
    position: relative; /* Ensure the parent container for booking blocks is positioned relative */
    height: 20%; /* Height of each time slot */
    border-top: 1px var(--white); /* Specify the top border */
    border-style: dashed;
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    border-bottom: none; /* Remove bottom border */
}

/* Style for booking blocks */
.booking-block {
    background-color: var(--booking-on-day);
    color: var(--white);
    padding: 5px 20px;
    position: absolute;
    left: 20%; /* Adjust this value as needed */
    right: 0;
    cursor: pointer;
    width: 20%;
    z-index: 2;
    box-sizing: border-box;
    top: -1%;
    border-radius: 5px;
}

.day-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: normal;
    align-items: end;
    font-size: 5em;
    margin-bottom: 0.5em;
}
.previous {
    display: grid;
    place-content: flex-start;
    padding-left: 5%;
}
.next {
    display: grid;
    place-content: flex-end;
    padding-right: 5%;
}
.h1 {
    display: grid;
    place-content: center;
}
