section {
    padding-bottom: 3em;
    margin-top: 2em;
}

.upload-wrapper {
    padding-bottom: 3em;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    margin: 1em;
}

.upload-label,
.upload-label-with-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    font-size: 3em;
    position: relative;
    text-align: center;
}

.upload-label {
    background-color: var(--input-field-gray);
    color: var(--section-background-color);
    line-height: 4em;
}

.upload-label-with-picture {
    object-fit: cover; /* Sørger for, at billedet dækker hele containeren uden at forvrænges*/
    cursor: pointer;
    background-size: cover;
}

.upload-label input[type="file"],
.upload-label-with-picture input[type="file"] {
    display: none;
}

.upload-label-with-picture .fa-plus {
    vertical-align: middle;
    font-size: 48px;
    color: black;
    opacity: 0.5;
    z-index: 2;
}

.form-group label {
    display: flex;
    margin-left: 0.5em;
    font-size: large;
    margin-bottom: 0.5em;
}

.form-group input,
.form-group-SM input {
    background-color: var(--input-field-gray);
    border-radius: 15px;
    height: 50px;
    width: 290px;
    padding: 1rem;
    border: none;
}

.form-row,
.form-row-SM {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-box-label {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 24em;
}

.form-row-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 48.5em;
    justify-content: space-between;
    padding: 0.5em;
}

.info-box {
    margin-left: 1em;
}

.checkboxes {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4.5em;
    height: 4.5em;
    border-radius: 8px;
    background-color: var(--input-field-gray);
    outline: none;
    cursor: pointer;
}

.checkboxes:checked::after {
    content: '\2713';
    font-size: 50px;
    color: black;
    text-align: center;
    line-height: 4.5em;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Show the message when the checkbox is checked */
.info-checkbox:checked + .info-label + .info-message {
    display: block;
}

.form-group,
.form-grid-cell {
    position: relative;
    margin-bottom: 1.5em;
}

.form-group label,
.form-grid-cell label {
    margin-right: 0.5em;
}
.form-group-SM label {
    display: flex;
    margin-left: 0.5em;
    font-size: large;
    margin-bottom: -1em;
}

/* Hide the checkbox */
.info-checkbox {
    display: none;
}

/* Style the label as a button */
.info-label {
    display: inline-block;
    background-color: var(--background-color);
    color: white;
    font-size: 0.7em;
    padding: 0.5em;
    width: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

/* Hidden message box */
.info-message {
    display: none;
    background-color: var(--accent-red);
    opacity: 0.9;
    padding: 1em;
    margin-top: -1.9em;
    border-radius: 0.5em;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 9em;
}

.info-message-right {
    margin-left: 6em;
}

select {
    background: radial-gradient(white, lightgray);
    border-radius: 1em;
    height: 4.5em;
    width: 4.5em;
    text-align: center;
}

.red-button {
    font-size: 1.5em;
    height: 4em;
    width: 100%;
    margin-top: 2em;
    font-weight: bold;
}

.change-password {
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 290px;
    margin-bottom: 1.4em;
    align-items: center;
    font-size: 1.3em;
}
