.picture-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.picture-container img {
    max-width: 200px;
    max-height: 200px;
}

.checkbox-container {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    border-radius: 8px;
}

.checkbox {
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;

    outline: none;
    cursor: pointer;
}

.checkbox:checked {
        background-color: #a22e2e;
}


.checkbox:checked::after {
    content: '\2713';
    font-size: 40px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}


h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

.delete-form {
    text-align: right;
}

p {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.booking-name {
    margin-bottom: 30px;
    margin-top: 30px;
}

.button-container-save {
    display: flex;
    justify-content: center;
}

.gray-button {

    margin-top: 20px;


}

.red-button {

    margin-top: 20px;

}

.button-container {
    display: flex;
    place-content: space-between;
    margin-top: 0;
}

.image-message {
    font-size: 0.8em;
    color: #333333;
    font-style: italic;
    margin-bottom: 0.5em; /* Adding some space below the message */
    margin-top: -1%;

}
