:root {
    --header-footer-color: hsla(0, 0%, 15%, 1); /* #272727 */
    --background-color: hsla(0, 0%, 27%, 1); /* #464545 */
    --section-background-color: hsla(0, 0%, 47%, 1); /* #787676 */
    --button-gray: hsla(0, 0%, 57%, 1); /* #929292 */
    --above-section-elements-gray: hsla(0, 0%, 70%, 1); /* #B3B3B3 */
    --light-gray: hsla(0, 0%, 70%, 1); /* #B3B3B3 */
    --h1-color: hsla(0, 0%, 82%, 1); /* #D2D1D1 */
    --input-field-gray: hsla(0, 0%, 93%, 1); /* #EEEEEE */
    --white: hsla(0, 0%, 100%, 1); /* #FFFFFF */

    --accent-red: hsl(0, 38%, 37%); /* #813A3A */
    --semi-booked-day: hsla(40, 80%, 40%, 1); /* #B16F6F */
    --fully-booked-day: hsla(0, 50%, 41%, 1); /* #A85252 */
    --booking-on-day: hsla(0, 50%, 37%, 0.8); /* #813A3A with 80% opacity */
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

img {
    height: 100%;
    width: 100%;
}

::selection {
    color: var(--input-field-gray);
    background: var(--booking-on-day);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    color: var(--input-field-gray);
    flex: 1;
    padding: 2rem 10vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    color: var(--input-field-gray);
    text-decoration: underline;
}

header, footer {
    background-color: var(--header-footer-color);
    color: var(--h1-color);
    z-index: 9999;
}

h1 {
    color: var(--h1-color);
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}


input, textarea, select {
    border-radius: 15px;
    background-color: var(--input-field-gray);
    border:none;
    color: var(--header-footer-color);
    box-shadow: 0 14px 18px 5px rgba(0,0,0,0.26) inset;
    padding: 10px;
    font-size: 1.5rem;
}


section {
    background-color: var(--section-background-color);
    border-radius: 15px;
    padding: 2rem;
}


button {
    cursor: pointer; /* ændrer curser til en pointer */
    font-size: 1.25rem;
}

/* classes */

.inset {
    box-shadow: 0 4px 8px 5px rgba(0,0,0,0.26) inset;
}

.box-shadow {
    box-shadow: 0px 5px 6px 5px rgba(0,0,0,0.37);
}

.gray-button {
    cursor: pointer; /* ændrer curser til en pointer */
    border-radius: 15px;
    background-color: var(--button-gray);
    color: var(--white);
    border: none;
    padding:1rem;
}

.red-button {
    cursor: pointer; /* ændrer curser til en pointer */
    border-radius: 15px;
    background-color: var(--accent-red);
    color: var(--input-field-gray);
    border:none;
    padding:1rem;
    font-size: 1.5rem;
}

.back-arrow-container {
/*    top: 2rem;
    left: 2rem;*/
    align-self: start;
    background-color: var(--section-background-color);
    padding: 15px 45px;
    border-radius: 15px;
    margin-bottom:1rem;
}

.back-arrow {
    font-size: large;
}

.back-arrow-container a {
    font-size: 2rem;
}

/* header og footer styles */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;

}

footer img {
    width: 200px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 9999;
}

.logo-container {
    flex-grow: 1;
    text-align: center;
}

.logo {
    width: 200px;
    margin: auto;
}

/*måske denne ikke gør så meget.*/
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* laver billedet rundt */
    cursor: pointer; /* ændrer curser til en pointer */
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 50px;
}

/*.profile-pic-container img.profile-pic {
    object-fit: cover; /* Sørger for, at billedet dækker hele containeren uden at forvrænges
    font-size: 3em; /* Gør ikonet stort
    color: #D1D1D1FF;
    line-height: 4em; /* Vertikal centrering, justeret for at passe til størrelsen
    border: 0.1em solid #D1D1D1FF;
    border-radius: 50%; /* laver ikonet rundt
    width: 2.5em
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.profile-pic-container i.profile-pic {
    font-size: 3em; /* Gør ikonet stort
    color: #D1D1D1FF;
    line-height: 4em;  Vertikal centrering, justeret for at passe til størrelsen
    border: 0.1em solid #D1D1D1FF;
    border-radius: 50%; /* laver ikonet rundt
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.profile-pic-container img.profile-pic,
.profile-pic-container i.profile-pic {
    object-fit: cover; /* Sørger for, at billedet dækker hele containeren uden at forvrænges*/
    font-size: 3em;
    color: #D1D1D1FF;
    line-height: 4em; /* Vertikal centrering, justeret for at passe til størrelsen */
    border: 0.1em solid #D1D1D1FF;
    border-radius: 50%; /* laver ikonet rundt*/
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover; /* Sørger for, at billedet dækker hele containeren uden at forvrænges*/

}



/* Burger menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.5rem;
}

nav li {
    list-style: none;
    background-color: transparent;
}

a.nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    margin-bottom: 15px;
    margin-top: 15px;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 157px;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    border-bottom: 2px solid var(--white);
    margin: 2.5rem 0;
    padding: 2rem;
}

.hamburger {
    display: block;
    cursor: pointer;
    z-index: 999;
    width: 50px;  /* Tara har prøvet at justeret :S */
    height: 50px; /* Tara har prøvet at justeret :S */

}

/* For the cross */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

/* Not used, but could have been for the drop down menu
.dropdown {
    position: relative;
    margin-right: 50px;
    z-index: 9999;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 4px;
    background-color: var(--white);
    margin: 5px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--background-color);
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 80px;
}

.dropdown-content a {
    color: var(--white);
    padding: 40px 40px;
    text-decoration: none;
    display: block;
    font-size: x-large;
    border-bottom: 1px solid var(--white);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 55ch;
    justify-content: space-between;
    text-align: left;
    gap: 3rem;

}

.input-group div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    width: 30ch;
}

.input-group label {
    margin-right: 10px;
}


.input-group input,
.input-group textarea {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/



label {
    font-size: 1.8rem;
}