:root {
    --header-footer-color: hsla(0, 0%, 15%, 1); /* #272727 */
    --background-color: hsla(0, 0%, 27%, 1); /* #464545 */
    --section-background-color: hsla(0, 0%, 47%, 1); /* #787676 */
    --button-gray: hsla(0, 0%, 57%, 1); /* #929292 */
    --above-section-elements-gray: hsla(0, 0%, 70%, 1); /* #B3B3B3 */
    --light-gray: hsla(0, 0%, 70%, 1); /* #B3B3B3 */
    --h1-color: hsla(0, 0%, 82%, 1); /* #D2D1D1 */
    --input-field-gray: hsla(0, 0%, 93%, 1); /* #EEEEEE */
    --white: hsla(0, 0%, 100%, 1); /* #FFFFFF */

    --accent-red: hsla(0, 50%, 37%, 1); /* #813A3A */
    --semi-booked-day: hsla(0, 50%, 47%, 1); /* #B16F6F */
    --fully-booked-day: hsla(0, 50%, 41%, 1); /* #A85252 */
    --booking-on-day: hsla(0, 50%, 37%, 0.8); /* #813A3A with 80% opacity */
}

html {
    margin: 0;
    padding:0;
}

img {
    height: 100%;
    width:100%;
}

::selection {
    color: var(--input-field-gray);
    background: var(--booking-on-day);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}

main {
    color: var(--input-field-gray);
}

a {
    color: var(--input-field-gray);
    text-decoration: underline;
}

a:visited {
    color: var(--light-gray);
}

header, footer {
    background-color: var(--header-footer-color);
    color: var(--h1-color);
}



h1 {
    color: var(--h1-color);
}

input {
    border-radius: 5px;
    background-color: var(--input-field-gray);
    border:none;
    color: var(--header-footer-color);
    box-shadow: 0 14px 18px 5px rgba(0,0,0,0.26) inset;
}

.box-shadow {
    box-shadow: 0px 5px 6px 5px rgba(0,0,0,0.37);
}

section {
    background-color: var(--section-background-color);
    border-radius: 15px;
}

button .gray-button {
    border-radius: 15px;
    background-color: var(--button-gray);
    color: var(--white);
    border: none;
    padding:1rem;
}

button .red-button {
    border-radius: 15px;
    background-color: var(--accent-red);
    color: var(--input-field-gray);
    border:none;
    padding:1rem;
}



/* header og footer styles */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer img {
    width: 200px;

}