section {
    position: relative;
    margin-top: 20%;
}
.section-divider{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2em;
    place-content: center;
    justify-items: center;

}
.warning-container{
    border: solid red;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
}
.warning {
    color: red;

}
.warning-text  {
    display: flex;
    flex-direction: column;
}
.confirmation-container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    border-radius: 1em;
    padding: 1em;
    width: 26em;
}
.buttons {
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}

.tabel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-right: 2em;
    padding-left: 4.2em;
}
.profile-container{
    margin-top: -2em;

}

li {
    list-style: none;
}

.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4.2em;

}
.profile {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    padding: 1em;
    align-self: baseline;
    width: 100%;

}

.profile * {
    margin-right: 5em;
    align-content: normal;
    width: 0%;
    place-self: center;
}

.icon-button {
    width: 1.9em;
    height: 1.8em;
    border-radius: 0.4em;
    background-color: var(--light-gray);
    border: none;

}

.icon-button * {
    margin-left: 0.5em;

}
a {
    text-decoration: none;
    position: sticky;
    top: 87%;
    font-size: 2em;
}

.checkboxes {
    width: 50px; /* Juster bredden efter behov */
    height: 50px; /* Juster højden efter behov */
   color: var(--accent-red);
}