figure {
    display: flex;
    place-content: center;
    align-items: center; /* Centrerer indholdet både vandret og lodret */
    width: 100%; /* Gør figure-elementet til at fylde hele bredden af dens container */
    height: 100%;
    margin: 0; /* Fjern eventuel margin */
}

figure img {
    object-fit: cover; /* Sørger for, at billedet dækker hele containeren uden at forvrænges*/
}

figure i {
    font-size: 5em;
    color: #efefef;
    border: 0.1em solid #efefef;
    border-radius: 50%; /* Sørger for at cirklen omkring ikonet har en rundet form */
    padding: 1em;
    width: 5em; /* Indstiller bredden på ikonet og cirklen */
    height: 5em; /* Indstiller højden på ikonet og cirklen */
    /* box-sizing: border-box; /* Sørger for, at padding og border inkluderes i elementets totale bredde og højde */
    margin: 0;

}

section img {
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

h2 {
    padding-bottom: 1.5rem;
}



section, .container {
    padding-top: 4rem;
    padding-bottom: 2em; /* Juster denne værdi efter behov */

}

section figure {
   align-content: center;
    place-content: center;
    align-items: center;

}

.error-message h3 {
    padding-top: 1.5rem;
    font-size: 2.5rem;
    color: #333333;
}

.profile-pic {
    align-content: center;
    place-content: center;
    align-items: center;
    margin-right: 57px;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    /* denne er lagt ned i info i stedet.
    align-items: center;
     */
}
/* ny fra merge*/
.info {
    align-items: center;
}

.container {
    text-align: left;
    width: 45vw;
}

.fab {
    color: var(--white);
}

.some {
    display: flex;
    gap: 2rem;
    place-content: center;
    align-items: center;
    width: 100%;
}

p {
    font-size: 1.5em;
}

h2 {
    font-size: 3rem;
}
.container a {
    font-size: 2rem;
}

.contact {
    padding-bottom: 1.5rem;
}
.button-container {
    top: 2rem;
    right: 2rem;
    display: flex;
    place-self: flex-end;
}

.edit-btn {
    margin-right: 1rem;
}

.button-container form button {
    background-color: transparent;
    color: var(--white);
    border:none;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
}

/* fra merge minazza. i stedet for den under.
.confirmation-container {
    margin-bottom: 40px;
}*/


.confirmation-container {
    position: absolute;
    z-index: 4;
    background: lightgrey;
    padding: 2em;
    border-radius: 1em;
    color: white;
    width: 20em;
}

h3 {
    margin-bottom: 40px;
}
