<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Booking - New Client</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/client.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>
    <div class="back-arrow-container">

        <a th:href="@{/create-new-booking(date=${date}, bookingId=${bookingId})}" class="small button"><i class="fas fa-arrow-left"></i></a>

    </div>

    <h1>New Booking - New Client</h1>

    <section>
        <div class="form-container">
            <form th:action="@{/add-client}" method="post">
                <input type="hidden" name="bookingId" th:value="${bookingId}">
                <div class="input-group">
                    <div>
                        <label for="firstName">First Name: *</label>
                        <input type="text" id="firstName" name="firstName"  required>
                    </div>
                    <div>
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" >
                    </div>

                </div>
                <div class="input-group">
                    <div>
                        <label for="email">Email: *</label>
                        <input type="email" id="email" name="email"  required>
                    </div>
                    <div>
                        <label for="phoneNumber">Phone Number: *</label>
                        <input type="tel" id="phoneNumber" name="phoneNumber">
                    </div>

                </div>
                <div class="input-group">
                    <div>
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" rows="4" cols="50" ></textarea>
                    </div>

                </div>
                <button class="red-button box-shadow" type="submit">Add new Client</button>
            </form>
        </div>
    </section>

</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>
