<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Booking</title>
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>
  <div class="back-arrow-container">
    <a th:href="@{/day(username=${tattooArtist.username},date=${booking.getDate()})}" class="small button"><i class="fas fa-arrow-left"></i></a>
  </div>

  <h1>EKS: 3 Jun 10:00</h1>

  <section>

    <div class="booking-container">
      <div th:each="booking : ${booking}" class="booking-item">
        <div class="information-container">
          <div th:text="${booking.client.firstName + ' ' + booking.client.lastName}"></div>
          <div th:text="${booking.client.phoneNumber}"></div>
          <div th:text="${booking.client.email}"></div>
          <hr>
          <p>Tattoo Information</p>
          <p>Deposit payed:</p>
          <div th:text="${booking.depositPayed}"></div>
          <p>Project Title:</p>
          <div th:text="${booking.projectTitle}"></div>
          <p>Project Description:</p>
          <div th:text="${booking.projectDesc}"></div>
          <p>Private Note:</p>
          <div th:text="${booking.personalNote}"></div>
          <p>Image:</p>



        </div>
      </div>
    </div>
    <!-- Knap til ny profil, skal væk -->

    <!--<div style="text-align: center;">
        <form action="/create-new-profile" method="get">
            <button type="submit" class="red-button">Create new profile</button>
        </form>
    </div> -->

  </section>

</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>
