<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" type="text/css" href="/calendar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>

    <div class="back-arrow-container">
        <a th:href="@{/dashboard}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>


<!--header  -->
<article>
    <h1 th:text="${date.getMonth()}"></h1>

    <!--prev and next buttons-->
    <div class="calendar-navigation">

        <form  class="previous" th:action="@{/calendar/previous}" method="post">
            <input type="hidden" name="year" th:value="${date.year}" />
            <input type="hidden" name="month" th:value="${date.monthValue}" />
            <button class="gray-button" type="submit">Previous</button>
        </form>


        <h2 class="year" th:text="${date.getYear()}"></h2>

        <form class="next" th:action="@{/calendar/next}" method="post">
            <input type="hidden" name="year" th:value="${date.year}" />
            <input type="hidden" name="month" th:value="${date.monthValue}" />
            <button class="gray-button"  type="submit">Next</button>
        </form>

    </div>

</article>
    <section>
    <!--Calendar -->
        <article>
            <div class="parent">

                <!-- Weekdays -->
                <div class="calendar-information-bar">
                    <ul>  <li>Week</li></ul>
                <ul class="weekdays">
                    <li>M</li>
                    <li>T</li>
                    <li>W</li>
                    <li>T</li>
                    <li>F</li>
                    <li>S</li>
                    <li>S</li>
                </ul>
                </div>

                <div class="calendar-grid">

                <ul class="weeknumbers">
                    <li th:each="number : ${weekNumbers}">
                        <p th:text="${number}"></p>
                    </li>
                </ul>

                <ul class="dates">
                    <!-- Fill empty slots before the first day of the month -->
                    <th:block th:if="${startFillers > 0}" th:each="i: ${#numbers.sequence(0, startFillers - 1)}">
                        <li class="non-existing-date"></li>
                    </th:block>

                    <!-- Iterate through days in the month -->
                      <li class="day-wrapper" th:each="day : ${daysInMonth}">

                          <!--Calculate percentage of day booked based on workhourd-->

                          <th:block th:if="${calendar.calculateDegreeOfBookedDay(day, username) > 80}">

                              <a th:if="${currentDate==day}" class="current-date fully-booked-day" th:href="@{/day(date=${day})}" th:text="${day.getDayOfMonth()}"></a>
                              <a th:unless="${currentDate==day}"class="fully-booked-day" th:href="@{/day(date=${day})}" th:text="${day.getDayOfMonth()}"></a>
                          </th:block>

                          <th:block th:if="${calendar.calculateDegreeOfBookedDay(day, username) <= 80 && calendar.calculateDegreeOfBookedDay(day, username) >= 1}">
                              <a  th:if="${currentDate==day}" class="current-date semi-booked-day" th:href="@{/day(date=${day})}" th:text="${day.getDayOfMonth()}"></a>
                              <a  th:unless="${currentDate==day} "class="semi-booked-day" th:href="@{/day(date=${day})}" th:text="${day.getDayOfMonth()}"></a>

                          </th:block>

                          <th:block th:if="${calendar.calculateDegreeOfBookedDay(day, username) == 0}">
                              <a th:if="${currentDate==day}" class="current-date open-day" th:href="@{/day(date=${day})}" th:text="${day.getDayOfMonth()}"></a>
                              <a th:unless="${currentDate==day}"class="open-day" th:href="@{/day(date=${day})}" th:text="${day.getDayOfMonth()}"></a>
                          </th:block>
                      </li>

                      <th:block  th:if="${endFillers> 0}" th:each="i: ${#numbers.sequence(0,endFillers - 1) }">
                          <li class="non-existing-date"></li>
                      </th:block>

                </ul>

                </div>
            </div>
    </article>
</section>

    <!--Day info-->
    <article class="daily-info">
        <h3>Today:</h3>
    <span th:each="booking : ${bookingsToday}">
    <h4 th:text="${booking.getStartTimeSlot() + ' - ' + booking.getEndTimeSlot() +
     ': '+ booking.getClient().getFirstName() + ' ' + booking.getClient().getLastName() +', ' }"></h4>
        <p th:text="' '+ ${booking.getProjectTitle()}"></p>
    </span>
    </article>


</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>