<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calender</title>
</head>
<body>
<main>
<section>

<!--header  -->
<article>
    <h1 th:text="${date.getMonth()}"></h1>
<!--prev and next buttons-->
</article>
    <!--Calender -->
    <article>
    <div>
     <p th:text="${date.getYear()}">

        <form th:action="@{/calender/next}" method="post">
            <input type="hidden" name="year" th:value="${date.year}" />
            <input type="hidden" name="month" th:value="${date.monthValue}" />
            <button type="submit">Next</button>
        </form>

        <form th:action="@{/calender/previous}" method="post">
            <input type="hidden" name="year" th:value="${date.year}" />
            <input type="hidden" name="month" th:value="${date.monthValue}" />
            <button type="submit">Previous</button>
        </form>
    <!-- <p th:text="${date.getDay()}"> -->
        <ul>
        <li th:each="day : ${daysInMonth}">
            <p th:text="${day.getDayOfMonth()}"></p>
        </li>
    </ul>
    </div>
    </article>
<!--footer  -->
</section>
</main>
</body>
</html>