<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="stylesheet" type="text/css" href="/layout.css">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" type="text/css" href="/client-list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>

    <div class="back-arrow-container">
        <a th:unless="${bookingId}" th:href="@{/dashboard}" class="small button"><i class="fas fa-arrow-left"></i></a>
        <a th:if="${bookingId}"th:href="@{/create-new-booking(date=${date}, bookingId=${bookingId})}" class="small button"><i class="fas fa-arrow-left"></i></a>

    </div>

    <h1>Client List</h1>

    <section class="box-shadow">

        <form th:action="@{/search-result}" method="post">
            <!--Carry on booking info if needed to create booking-->
            <input type="hidden" id="bookingId" name="bookingId" th:value="${bookingId}">
            <input type="hidden" id="date" name="date" th:value="${date}">


            <div>
                <label for="search">Search by number or first name:</label>
                <input type="text" id="search" name="search">
            </div>

            <div th:if="${message}" class="error-message">
                <p th:text="${message}"></p>
            </div>

            <div>
                <button class="red-button" type="submit">Search</button>
            </div>
        </form>

        <!-- Iterates over each entry in the map, looking for the Key (the letter) and
        the value (all the clients by that letter), and for every value, the client
        is clickable -->

        <div th:each="entry : ${groupedClients}">
            <div th:if="${entry.value.size() > 0}">
                <div class="letter-header" th:text="${entry.key}">Letter</div>
                <ul class="client-list">
                    <li th:each="client : ${entry.value}" class="client-item">
                        <a th:if="${bookingId}" th:href="@{/booking-preview(bookingId=${bookingId}, date=${date}, clientId=${client.getId()})}" th:text="${client.firstName + ' ' + client.lastName}"></a>
                        <a th:unless="${bookingId}" th:href="@{/client(clientId=${client.id})}" th:text="${client.firstName + ' ' + client.lastName}"></a>
                    </li>
                </ul>
            </div>
        </div>

    </section>

</main>

<footer th:block th:insert="~{home/footer :: footer}"></footer>

</body>
</html>