<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="stylesheet" type="text/css" href="/layout.css">
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>

    <div class="back-arrow-container">
        <a th:href="@{/dashboard}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>

    <h1>Client List</h1>

    <section class="box-shadow">

        <form th:action="@{/clientList}" method="post">
            <div>
                <label>
                    <input type="text" placeholder="Search by phone number..." name="search">
                </label>
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>

            <div th:if="${message}" class="error-message">
                <p th:text="${message}"></p>
            </div>

        </form>


    </section>

</main>

<footer th:block th:insert="~{home/footer :: footer}"></footer>

</body>
</html>