<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Booking - Tattoo Info</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/create-new-booking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>
    <div class="back-arrow-container">
        <a th:if="${bookingId}" th:href="@{/cancel-booking(bookingId=${bookingId},date=${date})}" class="small button"><i class="fas fa-arrow-left"></i></a>
        <a th:unless="${bookingId}" th:href="@{/day(date=${date})}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>

    <img src="/assets/proBar-1.png" alt="Process Picture1/3" class="process-picture">
    <h1>New Booking</h1>

    <section>
        <form action="/save-tattoo-info" method="post" enctype="multipart/form-data">
            <input type="hidden" name="bookingId" th:if="${bookingId}" th:value="${bookingId}">
            <div class="booking-container">
                <div class="information-container">
                    <h2>Tattoo Information</h2>

                    <div th:if="${errorMessage}" class="error-message">
                        <p th:text="${errorMessage}"></p>
                    </div>

                    <div class="form-group-dep">
                        <label for="isDepositPayed">Deposit Paid:</label>
                        <input type="checkbox" id="isDepositPayed" name="isDepositPayed" th:checked="${booking?.isDepositPayed}">
                    </div>

                    <div class="form-group-time">
                        <label for="startTimeSlot">Start Time:</label>
                        <input type="time" id="startTimeSlot" name="startTimeSlot" step="900" min="09:00" max="20:00" required th:value="${booking?.startTimeSlot ?: ''}">
                    </div>

                    <div class="form-group-time-end">
                        <label for="endTimeSlot">End Time:</label>
                        <input type="time" id="endTimeSlot" name="endTimeSlot" step="900" min="09:00" max="20:00" required th:value="${booking?.endTimeSlot ?: ''}">
                    </div>

                    <div class="form-group">
                        <label for="projectTitle">Project Title:</label>
                        <input type="text" id="projectTitle" name="projectTitle" required th:value="${booking?.projectTitle ?: ''}">
                    </div>

                    <div class="form-group">
                        <label for="projectDesc">Project Description:</label>
                        <textarea id="projectDesc" name="projectDesc" rows="4" required th:text="${booking?.projectDesc ?: ''}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="personalNote">Private Note:</label>
                        <textarea id="personalNote" name="personalNote" rows="4" th:text="${booking?.personalNote ?: ''}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" id="image" name="projectPictures" multiple>
                        <div class="image-message">
                            <p>**If you want to upload more than one image, you must choose them all at once.</p>
                        </div>
                    </div>

                    <input type="hidden" name="date" th:value="${date}" />

                    <div class="button-container">
                        <button type="submit" name="action" value="new-client" class="red-button">New Client</button>
                        <button type="submit" name="action" value="existing-client" class="red-button">Existing Client</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>

<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>
