<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Profile</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/create-new-profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>
    <div class="back-arrow-container">
        <a th:href="@{/manage-profiles}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>

    <h1>Create new Profile</h1>

    <section>

        <!--Upload picture and display preview-->
        <div class=upload-wrapper>
        <form class="upload-container" th:action="@{/upload-profile-picture}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="action" value="create">

            <!--If there is chosen a picture then see preview-->
            <th:block th:if="${base64Image}">
                <label th:style="'background-image:url(data:image/jpeg;base64,' + ${base64Image} + ');'"
                       class="upload-label-with-picture">
                    <i class="fas fa-plus"></i>
                    <input type="file" name="profilePicture" accept="image/*" onchange="this.form.submit()">

                </label>
            </th:block>

            <!--If no picture is chosen display default-->
            <th:block th:unless="${base64Image}">
                <label class="upload-label">
                    <i class="fas fa-plus"></i>
                    <input type="file" name="profilePicture" accept="image/*" onchange="this.form.submit()">
                </label>

            </th:block>
        </form>
        <p>Upload Picture</p>
        </div>
        <!--Rest of information for creating profile-->
        <form th:action="@{/create-new-profile}" method="post" enctype="multipart/form-data">

            <!--Name-->
            <div class="form-row">
                <div class="form-group">
                    <label for="firstname">First name *:</label> <br>
                    <input type="text" id="firstname" name="profileFirstname" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name:</label> <br>
                    <input type="text" id="lastname" name="profileLastName">
                </div>
            </div>

            <!--username and password-->
            <!--Display error if username is taken-->
            <div th:if="${message}" class="error-message">
                <p th:text="${message}"></p>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="username">Username: *</label> <br>
                    <input type="text" id="username" name="profileUsername" required>
                </div>
                <div class="form-group">
                    <label for="password">Password: *</label> <br>
                    <input type="password" id="password" name="profilePassword" required>
                </div>
            </div>

            <!--Contacts-->
            <div class="form-row">
                <div class="form-group">
                    <label for="phone">Phone: *</label> <br>
                    <input type="number" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="email">Email: *</label> <br>
                    <input type="email" id="email" name="email" required>
                </div>
            </div>

            <!--Social media-->
            <div class="form-row">
                <div class="form-group">
                    <label for="facebookUrl">Facebook URL:</label> <br>
                    <input type="url" id="facebookUrl" name="facebookUrl">
                </div>
                <div class="form-group">
                    <label for="instagramUrl">Instagram URL:</label> <br>
                    <input type="url" id="instagramUrl" name="instagramUrl">
                </div>
            </div>


            <!--Work hours and admin-->
            <div class="form-row-grid">
                <!-- Work hours -->
                <div class="form-box">
                    <div class="form-box-label">
                    <label for="avgWorkHours">Work hours: *</label>
                        <div class="info-box">
                    <input type="checkbox" id="workHoursCheckbox" class="info-checkbox">
                    <label for="workHoursCheckbox" class="info-label"><i class="fas fa-question"></i></label>
                    <span class="info-message">
            <p>Please enter the work hours for an average day. This will be used to calculate how booked your day is.</p>
        </span>
                        </div>
                    </div>
                    <select id="avgWorkHours" name="avgWorkHours" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>

                <!-- Admin -->
                <div class="form-box">
                    <div class="form-box-label">
                    <label for="isAdmin">Admin:</label>
                        <div class="info-box">
                        <input type="checkbox" id="adminCheckbox" class="info-checkbox">
                    <label for="adminCheckbox" class="info-label"><i class="fas fa-question"></i></label>
                    <span class="info-message info-message-right">
            <p>Only admins can create or delete other profiles. Admin status can only be changed by other admins.</p>
        </span>
                </div>
                    </div>
                        <input class="checkboxes" type="checkbox" id="isAdmin" name="isAdmin">
            </div>
            </div>
            <button class="red-button" type="submit">Save</button>
        </form>
    </section>
</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>
