<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

    <main>
        <h1 th:text="'Welcome ' + ${tattooArtist.username} + '!'"></h1>
        <section class="box-shadow">
            <div class="inset stat-wrapper">
                <h2>You have <span class="red big" th:text="${bookingsADay}"></span> bookings today</h2>
            </div>
            <div class="inset stat-wrapper">
                <h2><span class="red big" th:text="${bookingPercentageOfMonth} + '%'"></span> of your month is booked</h2>
            </div>
            <div class="inset stat-wrapper">
                <h2>You are <span  class="red big" th:text="${monthProgressPercentage} + '%'"></span> into the month</h2>
            </div>
            <div class="inset stat-wrapper last">
                <h2>You have <span class="red big" th:text="${bookingsAWeek}"></span> bookings this week</h2>
            </div>


        </section>
        <a class="red-button box-shadow" th:href="@{/calendar(username=${tattooArtist.getUsername()})}">Calendar</a>

    </main>


    <footer th:block th:insert="~{home/footer :: footer}"></footer>

</body>
</html>