<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DAY</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/day.css">
</head>
<body>


<main>
    <!--prev and next buttons-->
    <div class="day-navigation">

        <form  class="previous" th:action="@{/day/previous(username=${username},date=${date})}" method="post">
            <button class="gray-button" type="submit">Previous</button>
        </form>

        <h1 th:text="${date.getDayOfMonth() + ' ' + date.getMonth().toString().substring(0,3)}"></h1>

        <form class="next" th:action="@{/day/next(username=${username},date=${date})}" method="post">
            <button class="gray-button"  type="submit">Next</button>
        </form>

    </div>

    <section>
        <article class="backdrop">
        <div class="time-line-wrapper" th:each="hour : ${hours}">

            <!--Only display time hourly -->
            <p class="time-line" th:if="${hour - hour.intValue() == 0}" th:text="${hour.intValue() + ':00'}"></p>


            <!-- Check if there are bookings for the current hour -->

            <div th:each="booking : ${bookingList}" th:if="${((booking.getStartTimeSlot().getHour() * 60.0 + booking.getStartTimeSlot().getMinute()) / 60) == hour}">
                 <!-- Calculate top position and height of the booking block based on start and end times -->
                <div class=booking-block
                     th:style="'height:' + (${(bookingService.calculateTotalDurationOfBooking(booking) / 60) * 7} + 'em;')">
                <a th:href="@{'/booking/' + ${booking.id}}"> <!-- Link to booking details page -->
                        <span th:text="${booking.getProjectTitle()}"></span> <!-- Booking description -->
                    </a>
                </div>
            </div>

        </div>
        </article>
    </section>

</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>

</body>
</html>
