<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DAY</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/day.css">
</head>
<body>


<main>
    <!--prev and next buttons-->
    <div class="day-navigation">

        <form  class="previous" th:action="@{/day/previous(username=${username},date=${date})}" method="post">
            <button class="gray-button" type="submit">Previous</button>
        </form>

        <h1 th:text="${date.getDayOfMonth() + ' ' + date.getMonth().toString().substring(0,3)}"></h1>

        <form class="next" th:action="@{/day/next(username=${username},date=${date})}" method="post">
            <button class="gray-button"  type="submit">Next</button>
        </form>

    </div>

    <section>
        <article class="backdrop">
        <div class="time-slot" th:each="hour : ${#numbers.sequence(9, 20)}">
            <div th:text="${hour + ':00'}"></div>

            <!-- Check if there are bookings for the current hour -->
            <div th:each="booking : ${bookingList}" th:if="${booking.getStartTimeSlot().getHour()+booking.getStartTimeSlot().getMinute() == hour}">
                <!-- Calculate top position and height of the booking block based on start and end times -->
                <div class=booking-block
                     th:style="'height:' + (${((booking.getEndTimeSlot.getHour() - booking.getStartTimeSlot.getHour()) * 61) * 100 / 60 - 1}) + '%;'">
                    <a th:href="@{'/booking/' + ${booking.id}}"> <!-- Link to booking details page -->
                        <span th:text="${booking.getProjectTitle()}"></span> <!-- Booking description -->
                    </a>
                </div>

            </div>
                <!-- Check if there are bookings for the current hour + 1 quarter -->
                <div th:each="booking : ${bookingList}" th:if="${booking.getStartTimeSlot().getHour()+booking.getStartTimeSlot().getMinute() == hour+15}">
                    <!-- Calculate top position and height of the booking block based on start and end times -->
                    <div class="booking-block"
                         th:style="'height:' + (${((booking.getEndTimeSlot.getHour() - booking.getStartTimeSlot.getHour()) * 61) * 100 / 60 - 1}) + '%;'">
                        <a th:href="@{'/booking/' + ${booking.id}}"> <!-- Link to booking details page -->
                            <span th:text="${booking.getProjectTitle()}"></span> <!-- Booking description -->
                        </a>
                    </div>

                </div>

                    <!-- Check if there are bookings for the current hour + 2 quarter -->
                    <div th:each="booking : ${bookingList}" th:if="${booking.getStartTimeSlot().getHour()+booking.getStartTimeSlot().getMinute() == hour+30}">
                        <!-- Calculate top position and height of the booking block based on start and end times -->
                        <div class="booking-block"
                             th:style="'height:' + (${((booking.getEndTimeSlot.getHour() - booking.getStartTimeSlot.getHour()) * 61) * 100 / 60 - 1}) + '%;'">
                            <a th:href="@{'/booking/' + ${booking.id}}"> <!-- Link to booking details page -->
                                <span th:text="${booking.getProjectTitle()}"></span> <!-- Booking description -->
                            </a>
                        </div>

                    </div>

                        <!-- Check if there are bookings for the current hour + 3 quarter -->
                        <div th:each="booking : ${bookingList}" th:if="${booking.getStartTimeSlot().getHour()+booking.getStartTimeSlot().getMinute() == hour+45}">
                            <!-- Calculate top position and height of the booking block based on start and end times -->
                            <div class="booking-block"
                                 th:style="'height:' + (${((booking.getEndTimeSlot.getHour() - booking.getStartTimeSlot.getHour()) * 61) * 100 / 60 - 1}) + '%;'">
                                <a th:href="@{'/booking/' + ${booking.id}}"> <!-- Link to booking details page -->
                                    <span th:text="${booking.getProjectTitle()}"></span> <!-- Booking description -->
                                </a>
                            </div>
                    </div>
        </div>
        </article>
    </section>

</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>

</body>
</html>
