<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/create-new-profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>
    <div class="back-arrow-container">
        <a th:href="@{/profile(username=${tattooArtist.username})}" class="small button"><i
                class="fas fa-arrow-left"></i></a>
    </div>

    <h1>Edit Profile</h1>

    <section>
        <!--Upload picture and display preview-->
        <form class="upload-container" th:action="@{/upload-profile-picture}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="edit">

            <!-- If a new picture is chosen, display its preview -->
            <th:block th:if="${newBase64Image != null}">
                <label th:style="'background-image:url(data:image/jpeg;base64,' + ${newBase64Image} + ');'" class="upload-label-with-picture">
                    <i class="fas fa-plus"></i>
                    <input type="file" name="profilePicture" accept="image/*" onchange="this.form.submit()">
                </label>
            </th:block>

            <!-- If no new picture is chosen but there's an existing profile picture, display it -->
            <th:block th:if="${newBase64Image == null && tattooArtist.base64ProfilePicture != null}">
                <label th:style="'background-image:url(data:image/jpeg;base64,' + ${tattooArtist.base64ProfilePicture} + ');'" class="upload-label-with-picture">
                    <i class="fas fa-plus"></i>
                    <input type="file" name="profilePicture" accept="image/*" onchange="this.form.submit()">
                </label>
            </th:block>

            <!-- If no picture is chosen and there's no existing profile picture, display default -->
            <th:block th:if="${newBase64Image == null && tattooArtist.base64ProfilePicture == null}">
                <label class="upload-label">
                    <i class="fas fa-plus"></i>
                    <input type="file" name="profilePicture" accept="image/*" onchange="this.form.submit()">
                </label>
            </th:block>
        </form>
        <p>Upload Picture:</p>

            <form th:action="@{/edit-profile}" method="post">
                <input type="hidden" name="currentUsername" th:value="${tattooArtist.username}">
                <!--Username and Password-->
                <div class="form-row">
                <div class="form-group">
                    <label for="newUsername">Username:</label>
                    <input type="text" id="newUsername" name="newUsername" th:value="${tattooArtist.username}">
                </div>
                    <div class="form-group">
                        <a class="gray-button box-shadow" th:href="@{/reset-password}">Change Password</a>
                    </div>
                </div>

                <!--Name-->
                <div class="form-row">
                    <div class="form-group">
                        <label for="firstName">First Name: *</label>
                        <input type="text" id="firstName" name="firstName" th:value="${tattooArtist.firstName}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" th:value="${tattooArtist.lastName}">
                    </div>
                </div>

                <!--Contacts-->
                <div class="form-row">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number: *</label>
                        <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${tattooArtist.phoneNumber}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email: *</label>
                        <input type="email" id="email" name="email" th:value="${tattooArtist.email}" required>
                    </div>
                </div>


                    <!--Social media-->
                    <div class="form-row">
                        <div class="form-group">
                            <label for="facebookUrl">Facebook URL:</label> <br>
                            <input type="url" id="facebookUrl" name="facebookUrl" th:value="${tattooArtist.facebook}">
                        </div>
                        <div class="form-group">
                            <label for="instagramUrl">Instagram URL:</label> <br>
                            <input type="url" id="instagramUrl" name="instagramUrl"
                                   th:value="${tattooArtist.instagram}">
                        </div>
                    </div>


                    <!--Work hours and admin-->
                    <div class="form-row-box">
                        <div class="form-box">
                            <label for="avgWorkHours">Work hours:</label>
                            <input list="hours" id="avgWorkHours" name="avgWorkHours"
                                   th:value="${tattooArtist.avgWorkHours}" required>
                            <datalist id="hours">
                                <option value="1">
                                <option value="2">
                                <option value="3">
                                <option value="4">
                                <option value="5">
                                <option value="7">
                                <option value="8">
                                <option value="9">
                                <option value="10">
                                <option value="11">
                                <option value="12">
                            </datalist>
                        </div>
                        <!-- Hidden checkbox to manage state -->
                        <input type="checkbox" id="workHoursCheckbox" class="info-checkbox">

                        <!-- Label styled as a button -->
                        <label for="workHoursCheckbox" class="info-label"><i class="fas fa-question"></i></label>

                        <!-- Message to display when clicked -->
                        <span class="info-message">
                    <p>Please enter the work hours for an average day. This will be used to
                    calculate how booked your day is</p>
                     </span>
                    </div>

                    <button class="red-button box-shadow" type="submit">Save Changes</button>
            </form>
    </section>

</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>
