<header>
  <a th:if="${loggedIn}" th:href="@{/profile}">
    <img th:if="${tattooArtist.profilePicture != null}" th:src="@{'data:image/jpeg;base64,' + ${tattooArtist.profilePicture}}" alt="Profilbillede" class="profile-pic">
    <img th:unless="${tattooArtist.profilePicture != null}" src="/assets/Default_Profile_pic.png" alt="Standard Profilbillede" class="profile-pic">
  </a>

  <div class="logo-container">
    <a th:if="${loggedIn}" th:href="@{/dashboard}">
      <img src="/assets/logo_temp.png" alt="logo" class="logo">
    </a>
    <a th:unless="${loggedIn}" th:href="@{/}">
      <img src="/assets/logo_temp.png" alt="logo" class="logo">
    </a>
  </div>

  <div th:if="${loggedIn}" class="dropdown">
    <span>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </span>
    <div class="dropdown-content">
      <a th:href="@{/calendar(username=${tattooArtist.getUsername()})}">Calendar</a>
      <a th:href="@{/dashboard}">Dashboard</a>
      <a th:href="@{/dashboard}">Client list</a>
      <a th:href="@{/logout}">Log out</a>
    </div>
  </div>

</header>
