<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<main>
    <h1>Choose a Profile</h1>

    <section>

        <div class="username-container">
            <div th:each="tattooArtist : ${tattooArtists}" class="username-item">
                <div class="profile-container">
                    <form action="/verifyPassword" method="get">
                        <input type="hidden" name="id" th:value="${tattooArtist.username}">
                        <button type="submit" style="display: none;"></button>
                    </form>
                    <img src="/assets/Default_Profile_pic.png" alt="Profile Picture" class="profile-pic">
                    <div th:text="${tattooArtist.username}"></div>

                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <form action="/addUser" method="get">
                <button type="submit" class="red-button">Create new profile</button>
            </form>
        </div>
    </section>
</main>
<footer th:block th:include="home/footer :: footer"></footer>
</body>
</html>
