<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<main>
<h1>Choose a Profile</h1>

<div class="section">

    <div class="username-container">
        <div th:each="tattooArtist : ${tattooArtists}" class="username-item">
            <div class="profile-container">
                <form action="/verifyPassword" method="get">
                    <input type="hidden" name="id" th:value="${tattooArtist.username}">
                    <button type="submit" style="display: none;"></button>
                </form>
                <img src="../../static/Default_Profile_pic.png" alt="Profile Picture" class="profile-pic" onclick="this.closest('form').submit()">
                <div th:text="${tattooArtist.username}"></div>
            </div>
        </div>
    </div>
</div>

<form action="/addUser" method="get">
    <button type="submit">Create new profile</button>
</form>


<p>Choose a Profile</p>
<table>
    <tr th:each="tattooArtist : ${tattooArtists}" class="username-item">
        <td><img class="profile-pic" src="../../static/demo_profile_pic.png" height="260" width="284"/>
        <td th:text="${tattooArtist.username}"></td></td>
        <td><img class="profile-pic" src="../../static/demo_profile_pic.png" height="260" width="284"/>
        <td th:text="${tattooArtist.username}"></td></td>
    </tr>
</table>
</main>
</body>
</html>
