<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Profiles</title>
    <link rel="stylesheet" href="/layout.css?v=1.0">
    <link rel="stylesheet" href="/manage-profiles.css?v=1.0">
ø    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<body>
<header th:block th:insert="~{home/header :: header}"></header>
<main>

    <div class="back-arrow-container">
        <a th:href="@{/dashboard}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>

    <h1>Manage Profiles</h1>

    <section>
        <div class="section-divider">
            <article class="warning-container">
                <h3 class="warning">Warning:</h3>
                <div class="warning-text"></div>
                <p>If you delete a profile, you will delete all related information including bookings. </p>
                <p>If you need to look back at bookings for legal reasons, please reconsider your deleting </p>
            </article>

            <article >
                <th:block  th:if="${profileToDelete!=null}" >
                    <div class="confirmation-container">
                    <h4>Are you sure you want to delete <span th:text="${profileToDelete}"></span>?</h4>
                    <p>Be aware that the profile will be deleted permanently</p>

                    <div class="buttons">
                        <form th:action="@{/manage-profiles}" method="get">
                            <button class="gray-button">Cancel</button>
                        </form>
                        <form th:action="@{/delete-profile(profileToDelete=${profileToDelete})}" method="get">
                            <button class="red-button">Delete</button>
                        </form>
                    </div>
                    </div>
                </th:block>

            </article>

            <article class="profiles-container">
                <div class="tabel">
                    <h3>User</h3>
                    <h3>Admin</h3>
                </div>

                <ul class="profiles">
                    <li class="profile" th:each="profile : ${profiles}">
                        <p th:text="${profile.getUsername()}"></p>
                        <form th:action="@{/change-admin(profileToChange=${profile.username})}" method="post">
                            <label>
                                <input type="checkbox" th:checked="${profile.getIsAdmin()}" class="checkboxes" onchange="this.form.submit()">
                            </label>
                        </form>
                        <form th:action="@{/manage-profiles(profileToDelete=${profile.username})}" method="post" >
                            <button type="submit" class="icon-button">
                                <i class="fa fa-trash" aria-hidden="true"> </i>
                            </button>
                        </form>
                    </li>
                </ul>
            </article>
        </div>

        <article >
            <th:block  th:if="${message!=null}" >
                <p th:text="${message}"></p>
            </th:block>
        </article>
    </section>
    <a class="red-button box-shadow" th:href="@{/create-new-profile}">Create Profile</a>
</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>