<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${tattooArtist.username} + '´s profile'"></title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">


</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>
<!--    <div class="back-arrow-container">
        <a th:href="@{/}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>-->

    <h1 th:text="${tattooArtist.username}"></h1>

    <section>
        <th:block  th:if="${profileToDelete!=null}" >
            <div class="confirmation-container">
                <h4>Are you sure you want to delete <span th:text="${profileToDelete}"></span>?</h4>
                <p>This action is permanent!</p>
                <div class="buttons">
                    <form class="edit-btn" th:action="@{/profile}" method="get">
                        <button class="gray-button">Cancel</button>
                    </form>
                    <form class="edit-btn" th:action="@{/delete-own-profile}" method="post">
                        <input type="hidden" name="profileToDelete" th:value="${profileToDelete}" />
                        <button class="red-button">Delete</button>
                    </form>
                </div>
            </div>
        </th:block>


        <div class="button-container">
            <th:block  th:if="${profileToDelete == null}" >
                <form class="edit-btn" th:action="@{/edit-profile}" method="get">
                    <input type="hidden" name="profileId" th:value="${tattooArtist.username}" />
                    <button class="edit" type="submit"><i class="fa fa-edit fa-2x"></i></button>
                </form>
                <form class="edit-btn" th:action="@{/profile}" method="post">
                    <input type="hidden" name="profileId" th:value="${tattooArtist.username}" />
                    <button class="delete" type="submit"><i class="fa fa-trash fa-2x"></i></button>
                </form>
            </th:block>
        </div>

        <div th:if="${message}" class="error-message">
            <h3 th:text="${message}"></h3>
        </div>

        <figure>
            <img th:if="${tattooArtist.base64ProfilePicture != null}" th:src="@{'data:image/jpeg;base64,' + ${tattooArtist.base64ProfilePicture}}" alt="Profilbillede">
            <i th:unless="${tattooArtist.base64ProfilePicture != null}" class="fas fa-user profile-pic"></i>
        </figure>

        <div class="info">
            <p th:text="${tattooArtist.username}"></p>
            <div class="container">
                        <h2 th:text="${tattooArtist.firstName + ' ' + tattooArtist.lastName}"></h2>

                        <div class="contact"><i class="fas fa-phone fa-2x"></i> <a th:href="${'tel:' + tattooArtist.phoneNumber}" th:text="${tattooArtist.phoneNumber}"></a></div>
                        <div class="contact"><i class="fas fa-envelope fa-2x"></i> <a th:href="${'mailto:' + tattooArtist.email}" th:text="${tattooArtist.email}"></a></div>
            </div>
            <div class="container some">
                <a th:href="${tattooArtist.instagram}" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                <a th:href="${tattooArtist.facebook}" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
            </div>
        </div>
    </section>

</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>