<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/layout.css">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>

<main>

    <div class="back-arrow-container">
        <a th:href="@{/dashboard}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>

    <h1>Reset your Password</h1>

    <section class="box-shadow">

        <form th:action="@{/reset-password}" method="post">
            <div>
                <label for="currentPassword">Enter current password: </label>
                <input type="password" id="currentPassword" name="currentPassword" required>
                <label for="newPassword">Enter new password: </label>
                <input type="password" id="newPassword" name="newPassword" required>
                <label for="repeatedPassword">Repeat new password: </label>
                <input type="password" id="repeatedPassword" name="repeatedPassword" required>
            </div>

            <div th:if="${message}" class="error-message">
                <p th:text="${message}"></p>
            </div>

            <div>
                <button class ="red-button" type="submit">Reset</button>
            </div>
        </form>

    </section>

</main>

<footer th:block th:insert="~{home/footer :: footer}"></footer>

</body>
</html>