<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" type="text/css" href="/layout.css">
    <link rel="stylesheet" type="text/css" href="/client-list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:block th:insert="~{home/header :: header}"></header>
<main>

    <div class="back-arrow-container">
        <a th:href="@{/choose-client(date=${date},bookingId=${bookingId})}" class="small button"><i class="fas fa-arrow-left"></i></a>
    </div>

    <h1 th:text="'Search Result for: ' + ${searchQuery}" ></h1>

    <section class="box-shadow">
        <input type="hidden" name="bookingId" id="bookingId" th:value="${bookingId}">
        <div th:if="${results}">
            <ul>
                <li class="client-list" th:each="client : ${results}">
                    <a class="client-item" th:href="@{/booking-preview(bookingId=${bookingId},clientId=${client.getId()}, username=${tattooArtist.username})}" th:text="${client.getFirstName() + ' ' + client.lastName}"></a>
                </li>
            </ul>
        </div>
        <div th:if="${#lists.isEmpty(results)}">
            <p>No results found</p>
        </div>

    </section>

</main>
<footer th:block th:insert="~{home/footer :: footer}"></footer>
</body>
</html>